/* styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css */

.register-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
}

.input-field {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 0.5rem;
}
/* styles.css */
.shadow-custom-blue {
    box-shadow: 0 10px 60px -1px rgba(0, 0, 255, 0.1), 0 2px 4px -1px rgba(0, 0, 255, 0.06);
}



